html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  scroll-behavior: smooth;
  background-color: #A3C5F3;
}

.container{
  width: 760px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.site-main {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 4px 13px 2px rgba(153, 153, 153, 0.8);
}

