.audio-section__mp3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 30px;
  margin-top: 25px;
}

.audio-section__icon {
  color: #B3CEF2;
  margin-top: 35px;
}

.audio-section__player {
  margin-left: 40px;
  margin-top: 15px;
}

.player__info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.player__img {
  display: block;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  box-shadow: 0px 16px 13px -14px rgba(153, 153, 153, 0.8);
  filter: brightness(0.7);
}

.player__music-name {
  margin: 0;
  color: #333333;
  font-weight: bold;
  font-size: 13px;
}

.player__album-name {
  margin: 0;
  color: #B4B4B4;
  font-size: 12px;
}

.player__progress {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.player__time {
  color: #B4B4B4;
  font-size: 14px;
}

.player__line {
  display: flex;
  align-items: center;
  width: 250px;
  height: 2px;
  background-color: #B4B4B4;
  margin-left: 15px;
  margin-right: 15px;
}

.player__dark-line {
  width: 75px;
  height: 2px;
  background-color: #333333;
}

.player__circle {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #333333;
  cursor: pointer;
}

.audio-section__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 40px;
}

.audio-section__link {
  display: block;
  text-decoration: none;
  position: relative;
}

.audio-section__link:hover .play {
  opacity: 0.8;
}

.audio-section__item--current{
  z-index: 2;
}

.audio-section__item--current .play {
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
}

.audio-section__img {
  display: block;
  width: 90px;
  height: 90px;
  box-shadow: 0px 16px 13px -14px rgba(153, 153, 153, 0.8);
  filter: brightness(0.7);
}

.audio-section__item--current .audio-section__img {
  transform: scale(1.1);
}

.audio-section__name {
  width: 65px;
  margin: 0;
  margin-top: 15px;
  margin-left: 10px;
  color: #333333;
  font-weight: bold;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}