.separator {
  width: 100%;
  height: 1px;
  background-color: #B4B4B4;
  position: relative;
}

.separator__center {
  width: 90px;
  height: 6px;
  border-radius: 3px;
  background-color: #B3CEF2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}