.video-section__movies {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.video-section__icon {
  color: #B3CEF2;
  margin-top: 35px;
}

.video-section__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 40px;
}

.video-section__link {
  display: block;
  text-decoration: none;
  position: relative;
}

.play {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 15px;
  background-image: url(../../img/play.svg);
  background-position: center;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.5s ease;
  z-index: 6;
}

.video-section__link:hover .play {
  opacity: 0.8;
}

.video-section__item--center{
  z-index: 5;
}

.video-section__item--center .play {
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
}

.video-section__img {
  width: 160px;
  height: 90px;
  box-shadow: 0px 16px 13px -14px rgba(153, 153, 153, 0.8);
  filter: brightness(0.7);
}

.video-section__item--center .video-section__img {
  transform: scale(1.1);
}

.top__time {
  margin: 0;
  margin-top: 10px;
  margin-left: 10px;
  color: #B4B4B4;
  font-size: 14px;
  text-transform: uppercase;
}

.top__name {
  margin: 0;
  margin-left: 10px;
  color: #333333;
  font-weight: bold;
  font-size: 14px;
}